@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
.page {margin: 64px 0;}
.preview{
  margin-bottom: 24px;
}

textarea {
  width: 100%;
  height: 150px;
  font-size: 10px;
}